<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
  <targets>
	  
	  <extensions>
		  <add assembly="NLog.web.AspNetCore"/>
	  </extensions>
	  
    <target xsi:type="File" name="defaultFile" fileName="logs/log-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />

	  <!--
	      archiveAboveSize->最大文件大小。
	      maxArchiveFiles->最多保存的文件数量,超出就删除旧的。
		  fileName->文件名
		  layout->输出格式
	  -->
	<target xsi:type="File" name="sysServicesFile" archiveAboveSize="1000000" maxArchiveFiles="3"
			fileName="logs/sysServices-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}"/>

    <target xsi:type="ColoredConsole" name="targetConsole" 
			layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" />
  </targets>

  <rules>
	  <!--
		minlevel->最小显示级别
		maxlevel->最大显示级别
		writeTo->指定给那个target 根据name
		final->通过了就不执行下面的
	  -->
    <logger name="*" minlevel="warn" maxlevel="Fatal" writeTo="targetConsole" />
	  
    <logger name="SystemServices.*" minlevel="Trace" writeTo="sysServicesFile" final="true" />
	  
    <logger name="*" minlevel="Trace" writeTo="defaultFile" />
  </rules>
</nlog>